@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

* {
    font-family: 'Be Vietnam Pro', sans-serif;
    box-sizing: border-box;
}

:root {
    --rojoBrillante: rgb(242, 95, 58);
    --azulOscuro: rgb(35, 44, 81);
    --azulGrisáceoOscuro: rgb(143, 148, 167);
    --azulMuyOscuro: rgb(29, 30, 37);
    --rojoMuyPálido: rgb(255, 239, 234);
    --varianteGrisClaro: rgb(249, 249, 249);
    --gris: rgba(140, 140, 148, 1);
    --negro: rgba(0, 0, 0, 1);

}

body {
    background-image: url("/img/bg-tablet-pattern.svg");
    background-repeat: no-repeat;
    background-position: 62.5rem -12.5rem;
}

main {
    background-image: url("/img/bg-tablet-pattern.svg");
    background-repeat: no-repeat;
    background-position: -31.25rem 62.5rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4.69rem;
    margin: 4.69rem 9.12rem 4.69rem 10.31rem;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0px;
    margin: 0px;
    float: right
}

nav ul li{
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: #242e52;
    padding: 0 1.75rem;
    font-weight: 500;
    font-size: 0.81rem;
}

a.active,a:hover{
    opacity: 60%;
    transition: .5s;
}


.logo{
    width: 9rem;
    height: 1.5rem;
}

.botonNaranja {
    background-color: var(--rojoBrillante);
    width: 8.375rem;
    height: 2.75rem;
    border-radius: 3.125rem;
    color: var(--varianteGrisClaro);
    border: none;
    box-shadow: 0px 4px 7px;
}

.botonBlanco{
    background-color: var(--varianteGrisClaro);
    box-shadow: 0px 4px 7px;
    width: 8.375rem;
    height: 2.75rem;
    border-radius: 3.125rem;
    color: var(--rojoBrillante);
    border: none;
}

.botonContador {
    background-color: var(--rojoBrillante);
    width: 3.31rem;
    height: 2rem;
    border-radius: 1.875rem;
    color: var(--varianteGrisClaro);
    border: none;
    padding: 0.4rem;
    text-align: center;
}

.primerSeccion{
    display: flex;
    gap: 6em;
    text-align: left;
    margin: 4.69rem 9.12rem 4.69rem 10.31rem;
}

.fraseNosotros{
    padding-top: 5rem;
}

.primerSeccion p {
    font-weight: 500;
    font-size: 1.03rem;
    margin: 1.75rem 0px;
    line-height: 157.1%;
    width: 23.125rem;
    text-align: justify;
    color: var(--negro);
}

.numeradores{
    display: flex;
    align-items: center;
    gap: 1.5em;
}

.lista{
    margin-left: 8em;
}

.parrafonumerador{
    padding-left: 6em;
    color: var(--azulGrisáceoOscuro);
}

.segundaSeccion{
    display: flex;
    margin: 4.69rem 9.12rem 4.69rem 10.31rem;
    /* justify-content: space-between; */
    gap: 10em;
}

.segundaSeccion h2{
    font-size: 2.25rem;
    font-weight: 700;
    text-align: left;
    height: 88px;
    width: 433px;
}

.segundaSeccion p{
    color: var(--azulGrisáceoOscuro)
}


.segundaSeccion .articuloPrincipal p{
    margin-right: 6em;
    color: var(--negro);
}

.terceraSeccion{
    margin: 10rem 0rem 10rem 0rem;
}

.terceraSeccion h2{
    font-size: 39px;
    font-weight: 700;
    line-height: 61px;
    letter-spacing: -0.01em;
    text-align: left;

}
.terceraSeccion div{
    display: flex;
    gap: 7em;
    padding: 0rem 5rem 0rem 5rem;
}

.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #FAFAFA;
}

.cards img{
    width: 70px;
    height: 70px;
}

.terceraSeccion h2{
    text-align: center;
}

.cards p{
    color: var(--azulGrisáceoOscuro);
}

.buttonCards{
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

h1{
    margin: 0em;
    font-size: 3.625rem;
    font-weight: 700;
    letter-spacing: -0.035em;
    color: var(--azulOscuro);
    line-height: 4.125rem;
}

h2{
    color: rgba(35, 44, 80, 1);
}

h3{
    color: rgba(35, 44, 80, 1);
}


.manage {
    text-align: left;
    font-size: 1.03rem;
}

.seccionNaranja{
    background-color: var(--rojoBrillante);
    height:  14rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  0rem 10.5rem 0rem 10.5rem;
}

.seccionNaranja h2{
    color: var(--varianteGrisClaro);
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3rem;
    letter-spacing: -0.005em;
    text-align: left;
    width: 30rem;
    height: 6rem;
}

footer{
    background-color: var(--azulMuyOscuro);
    display: flex;
    /* gap: 25rem; */
    justify-content: space-around;
    height: 15.4375rem;
    padding: 4.69rem 9.12rem 4.69rem 10.31rem;
}

.logoyRedes{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.redesSociales{
    display: flex;
    gap: 0.8rem;
}

.navBarFooter{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style-type: none;
    width: 392.73px;
    height: 141.14px;
    padding-bottom: 1rem;
}

.navBarFooter li{
    line-height: 2;
    padding: 0rem 3rem 0rem 3rem;
}

.navBarFooter li a{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 400;
    line-height: 1.5rem;
}

.formulario{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding-left: 13rem;
}
.formulario p{
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--gris);
    height: 1.25rem;
    width: 20rem;
    padding-left: 2.5rem;
}

@media (max-width: 400px){
    header{
        background-color: #242e52;
    }
}