@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

* {
    font-family: 'Be Vietnam Pro', sans-serif;
    box-sizing: border-box;
}

:root {
    --rojoBrillante: rgb(242, 95, 58);
    --azulOscuro: rgb(35, 44, 81);
    --azulGrisáceoOscuro: rgb(143, 148, 167);
    --azulMuyOscuro: rgb(29, 30, 37);
    --rojoMuyPálido: rgb(255, 239, 234);
    --varianteGrisClaro: rgb(249, 249, 249);
}

body {
    background-image: url("/img/bg-tablet-pattern.svg");
    background-repeat: no-repeat;
    background-position: 62.5rem -12.5rem;
}

main {
    background-image: url("/img/bg-tablet-pattern.svg");
    background-repeat: no-repeat;
    background-position: -31.25rem 62.5rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4.69rem;
    margin: 4.69rem 9.12rem 4.69rem 10.31rem;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

footer {
    background-color: #000;
}

nav ul li a {
    text-decoration: none;
    color: #242e52;
    padding: 0 1.75rem;
    font-weight: 500;
    font-size: 0.81rem;
}

.logo{
    width: 9rem;
    height: 1.5rem;
}

.botonNaranja {
    background-color: var(--rojoBrillante);
    width: 6.37rem;
    height: 2rem;
    border-radius: 2rem;
    color: var(--varianteGrisClaro);
    border: none;
    box-shadow: 0px 4px 7px;
}

.botonContador {
    background-color: var(--rojoBrillante);
    width: 3.31rem;
    height: 2rem;
    border-radius: 1.875rem;
    color: var(--varianteGrisClaro);
    border: none;
    box-shadow: 0px 4px 7px;
}

.primerSeccion{
    display: flex;
    gap: 6em;
    text-align: left;
    margin: 4.69rem 9.12rem 4.69rem 10.31rem;
}


.numeradores{
    display: flex;
    align-items: center;
    gap: 1.5em;
}

.lista{
    margin-left: 8em;
}

.parrafonumerador{
    padding-left: 6em;
    color: var(--azulGrisáceoOscuro);
}

.segundaSeccion{
    display: flex;
    margin: 4.69rem 9.12rem 4.69rem 10.31rem;
    /* justify-content: space-between; */
    gap: 10em;
}

.segundaSeccion h2{
    font-size: 2.25rem;
    font-weight: 700;
    text-align: left;
    height: 88px;
    width: 433px;
}

.segundaSeccion .articuloPrincipal p{
    margin-right: 6em;
}

.terceraSeccion div{
    display: flex;
    gap: 7em;
}

.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #FAFAFA;
}

.cards img{
    width: 70px;
    height: 70px;
}

.terceraSeccion h2{
    text-align: center;
}

.buttonCards{
    display: flex;
    justify-content: center;
}

.getStartedTestimonio{
    background-color: rgb(242, 95, 58);
    width: 8.37em;
    height: 2.75em;
    border-radius: 3em;
    color: var(--varianteGrisClaro);
    border: none;
    box-shadow: 0px 4px 7px rgba (o, 0, 0, 0.25);
}

h1{
    margin: 0em;
    font-size: 3.625rem;
    font-weight: 700;
    letter-spacing: -0.035em;
    color: var(--azulOscuro);
}


h2{
    color: rgba(35, 44, 80, 1);
}

h3{
    color: rgba(35, 44, 80, 1);
}

.primerSeccion p {
    font-weight: 500;
    font-size: 1.03rem;
    margin: 1.75rem 0px;
    line-height: 157.1%;
    width: 23.125rem;
    color: var(--azulGrisáceoOscuro);
    text-align: justify;
}

.segundaSeccion p{
    color: var(--azulGrisáceoOscuro)
}


.manage {
    text-align: left;
    font-size: 1.03rem;
}

.seccionNaranja{
    background-color: var(--rojoBrillante);
    height: 224px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.botonBlanco{
    background-color:  #FFFFFF;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    width: 8.37em;
    height: 2.75em;
    border-radius: 3rem;
    color: #F3603B;
    border: none;

}
footer{
    display: flex;
    padding: 4.69rem 9.12rem 4.69rem 10.31rem;
}