@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

* {
    font-family: 'Be Vietnam Pro', sans-serif;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

:root {
    --rojoBrillante: rgb(242, 95, 58);
    --azulOscuro: rgb(35, 44, 81);
    --azulGrisáceoOscuro: rgb(143, 148, 167);
    --azulMuyOscuro: rgb(29, 30, 37);
    --rojoMuyPálido: rgb(255, 239, 234);
    --varianteGrisClaro: rgb(249, 249, 249);
    --gris: rgba(140, 140, 148, 1);
    --negro: rgba(0, 0, 0, 1);

}

body {
    background-image: url("/img/bg-tablet-pattern.svg");
    background-repeat: no-repeat;
    background-position: 62.5rem -12.5rem;
}

main {
    background-image: url("/img/bg-tablet-pattern.svg");
    background-repeat: no-repeat;
    background-position: -31.25rem 62.5rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4.69rem;
    margin: 4.69rem 9.12rem 4.69rem 10.31rem;
    /* min-width: 10rem; */
}

/* Hamburguesa */
.fa-solid{
    display: none;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0px;
    margin: 0px;
    float: right
}

nav ul li{
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: #242e52;
    padding: 0 1.75rem;
    font-weight: 500;
    font-size: 0.81rem;
}

nav a:hover{
    opacity: 40%;
    transition: .5s;
}


.logo{
    width: 9rem;
    height: 1.5rem;
}

.botonNaranja {
    background-color: var(--rojoBrillante);
    width: 8.375rem;
    height: 2.75rem;
    border-radius: 3.125rem;
    color: var(--varianteGrisClaro);
    border: none;
    box-shadow: 0px 4px 7px;
}

.botonBlanco{
    background-color: var(--varianteGrisClaro);
    box-shadow: 0px 4px 7px;
    width: 8.375rem;
    height: 2.75rem;
    border-radius: 3.125rem;
    color: var(--rojoBrillante);
    border: none;
}

.botonContador {
    background-color: var(--rojoBrillante);
    width: 3.31rem;
    height: 2rem;
    border-radius: 1.875rem;
    color: var(--varianteGrisClaro);
    border: none;
    padding: 0.4rem;
    text-align: center;
}

.primerSeccion{
    display: flex;
    gap: 6em;
    text-align: left;
    margin: 4.69rem 9.12rem 4.69rem 10.31rem;
    /* min-width: 1rem; */
    flex-wrap: wrap;
}

.fraseNosotros{
    padding-top: 5rem;
    min-width: 14rem;
}

.graficas img{
    max-width: 100%;
    min-width: 22rem;
    /* height: auto; */
}

.primerSeccion p {
    font-weight: 500;
    font-size: 1.03rem;
    margin: 1.75rem 0px;
    line-height: 157.1%;
    width: 23.125rem;
    text-align: justify;
    color: var(--negro);
}

.numeradores{
    display: flex;
    align-items: center;
    gap: 1.5em;
}

.lista{
    margin-left: 8em;
}

.parrafonumerador{
    padding-left: 6em;
    color: var(--azulGrisáceoOscuro);
}

.segundaSeccion{
    display: flex;
    margin: 4.69rem 9.12rem 4.69rem 10.31rem;
    /* justify-content: space-between; */
    gap: 10em;
}

.segundaSeccion h2{
    font-size: 2.25rem;
    font-weight: 700;
    text-align: left;
    height: 88px;
    width: 433px;
}

.segundaSeccion p{
    color: var(--azulGrisáceoOscuro)
}


.segundaSeccion .articuloPrincipal p{
    margin-right: 6em;
    color: var(--negro);
}

.terceraSeccion{
    margin: 10rem 0rem 10rem 0rem;
}

.terceraSeccion h2{
    font-size: 39px;
    font-weight: 700;
    line-height: 61px;
    letter-spacing: -0.01em;
    text-align: left;

}
.terceraSeccion div{
    display: flex;
    gap: 7em;
    padding: 0rem 5rem 0rem 5rem;
}

.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #FAFAFA;
}

.cards img{
    width: 70px;
    height: 70px;
}

.terceraSeccion h2{
    text-align: center;
}

.cards p{
    color: var(--azulGrisáceoOscuro);
}

.buttonCards{
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

h1{
    margin: 0em;
    font-size: 3.625rem;
    font-weight: 700;
    letter-spacing: -0.035em;
    color: var(--azulOscuro);
    line-height: 4.125rem;
}

h2{
    color: rgba(35, 44, 80, 1);
}

h3{
    color: rgba(35, 44, 80, 1);
}


.manage {
    text-align: left;
    font-size: 1.03rem;
}

.seccionNaranja{
    background-color: var(--rojoBrillante);
    height:  14rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  0rem 10.5rem 0rem 10.5rem;
}

.seccionNaranja h2{
    color: var(--varianteGrisClaro);
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3rem;
    letter-spacing: -0.005em;
    text-align: left;
    width: 30rem;
    height: 6rem;
}

footer{
    background-color: var(--azulMuyOscuro);
    display: flex;
    /* gap: 25rem; */
    justify-content: space-around;
    height: 15.4375rem;
    padding: 4.69rem 9.12rem 4.69rem 10.31rem;
}

.logoyRedes{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.redesSociales{
    display: flex;
    gap: 0.8rem;
}

.redesSociales i{
    color: white;
    font-size: 1.25rem;
    
}

.redesSociales i:hover{
    color: var(--rojoBrillante);
}

.navBarFooter{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style-type: none;
    width: 392.73px;
    height: 141.14px;
    padding-bottom: 1rem;
}


.navBarFooter li{
    line-height: 2;
    padding: 0rem 3rem 0rem 3rem;
}

.navBarFooter li a{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 400;
    line-height: 1.5rem;
}

.navBarFooter li a:hover{
    color: var(--rojoBrillante);
}


.formulario{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding-left: 13rem;
}
.copyright{
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--gris);
    height: 1.25rem;
    width: 20rem;
    padding-left: 2.5rem;
}


/* Responsiveeeeeeeee */
@media (max-width: 770px){
    html, body, main{
        width: 100vw;
        margin:0;
        padding: 0;
        display: flex;
        flex-direction: column;
        min-width: 290px;
    }
    nav{
        display: none;
    }
    header{
        margin: 0;
        padding: 2rem 2rem 0rem 2rem;
        width: 100vw;
        min-width: 290px;
    }
    header .fa-solid{
        display: block;
    }
    header button{
        display: none;
    }



    h1{
        margin: 0em;
        padding: 0rem 1rem 0rem 1rem;
        font-size: 3rem;
        font-weight: 500;
    }
    
    .primerSeccion{
        flex-direction: column;
        gap: 0;
        text-align: center;
        margin: 1rem 0rem 0rem 0rem;
        flex-wrap: wrap;
        min-width: 290px;
        width: 100vw;
        align-items: flex-end;
    }
    
    .fraseNosotros{
        order: 1;
        padding-top: 1rem;
        min-width: 10rem;
    }
    
    .graficas{
        min-width: 10rem;
        margin: 0px;
        padding: 0px;
    }    
    
    .primerSeccion p {
        margin: 1rem 0rem 1.25rem 0rem;
        line-height: 157.1%;
        width: 23.125rem;
        text-align: center;
        padding: 0rem 1rem 0rem 1rem;
    }
    
    .numeradores{
        align-items: center;
        gap: 0rem;
        padding: 3rem 2rem 0rem 2rem;
        width: auto;
    }
    
    .lista{
        max-width: 100vw;
        margin-left: 0rem;
        min-width: 290px;
        width: 100%;
        text-align: center;

    }
    
    .parrafonumerador{
        padding: 0rem 1rem 0rem 1rem;
        text-align: left;
    }
    
    .segundaSeccion{
        flex-direction: column;
        flex-wrap: wrap;
        min-width: 290px;
        width: 100vw;
        border: 0;
        gap: 0;
        text-align: center;
        margin: 1rem 0rem 0rem 0rem;
        align-items: flex-end;

    }  
    
    .articuloPrincipal{
        min-width: 290px;
        width: 100%;
        text-align: center;
        margin-top: 3rem;
    }

    .articuloPrincipal h2{
        /* margin: 0px; */
        font-size: 2rem;
        font-weight: 600;
        text-align: center;
        width: auto;
        min-width: 290px;
        padding: 0rem 3rem 0rem 3rem;
    }

    .segundaSeccion .articuloPrincipal p{
        min-width: 290px;
        margin: 0rem 0rem 0rem 0rem;
        width: auto;
        text-align: center;
        padding: 0rem 1.5rem 0rem 1.5rem;
    }
    
    .terceraSeccion{
        margin: 0rem 0rem 0rem 0rem;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    .terceraSeccion h2{
        font-size: 2rem;    
    }
    .terceraSeccion div{
        flex-direction: column;
        flex-wrap: wrap;
        gap: 2em;
        padding: 0rem 3rem 0rem 3rem;
    }
    
    .cards{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: #FAFAFA;
        position: relative;
    }
  
    .cards img{
        width: 70px;
        height: 70px;    
        position: absolute; 
        top: -2.5rem;
    } 
    
/* 
     .manage {
        text-align: left;
        font-size: 1.03rem;
    }  */
    
    .seccionNaranja{
        height: 25rem;
        flex-direction: column;
        padding: 0rem 0rem 0rem 0rem;
        width: 100vw;
    }
    
    .seccionNaranja h2{
        text-align: center;
        margin-top: 6rem;
        width: auto;
        height: 6rem;
        font-weight: 500;
        padding: 0rem 1.5rem 0rem 1.5rem;
    }

    .seccionNaranja button{
        margin-bottom: 5rem;
    }

    .buttonCards{
        margin: 2rem 0rem 2rem 0rem;
        align-items: center;
    }

    footer{
        flex-direction: column-reverse;
        /* justify-content: space-around; */
        height: 32rem;
        padding: 0rem 0rem 0rem 0rem;
        justify-content: center;
        width: 100vw;
    }
    
    .logoyRedes{
        flex-direction: column-reverse;
        align-items: center;
        gap: 3rem;
    }
    
    .redesSociales{
        display: flex;
        gap: 1.8rem;
    }
    
    .redesSociales i{
        color: white;
        font-size: 2.25rem;
        
    }
    
    .redesSociales i:hover{
        color: var(--rojoBrillante);
    }
    
    .navBarFooter{
        height: 141.14px;
        margin-top: 3rem;
        margin-right: 2rem;
        padding-left:0rem;
        max-width: 20vw
    }
    
    
    .navBarFooter li{
        line-height: 2;
        padding: 0rem 3rem 0rem 3rem;
        max-width: 100%;
    }
    
    .navBarFooter li a{
        text-decoration: none;
        color: #FFFFFF;
        font-weight: 400;
        line-height: 1.5rem;
    }
    
    .formulario{
        display: flex;
        flex-direction: column;
        gap: 4rem;
        padding-left: 5rem;
    }
    .copyright{
        text-align: center;
        order: -1;
        padding-top: 3rem;
    }


}